.hero-container {
  padding: 10% 6%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-info-container {
  display: inline-block;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 5% 35% 5% 5%;
  width: 90%;
  color: rgb(244, 240, 255);
  /* background-color: rgba(77, 82, 255, 0.3); */
  background: radial-gradient(
        farthest-side at -33.33% 50%,
        #0000 52%,
        rgba(255, 177, 235, 0.58) 54% 57%,
        #0000 59%
      )
      0 calc(344px / 2),
    radial-gradient(
        farthest-side at 50% 133.33%,
        #0000 52%,
        rgba(255, 177, 235, 0.58) 54% 57%,
        #0000 59%
      )
      calc(344px / 2) 0,
    radial-gradient(
      farthest-side at 133.33% 50%,
      #0000 52%,
      rgba(255, 177, 235, 0.58) 54% 57%,
      #0000 59%
    ),
    radial-gradient(
      farthest-side at 50% -33.33%,
      #0000 52%,
      rgba(255, 177, 235, 0.58) 54% 57%,
      #0000 59%
    ),
    rgba(77, 82, 255, 0.3);
  -webkit-backdrop-filter: blur(37px);
  backdrop-filter: blur(37px);
  background-size: calc(344px / 4.667) 344px, 344px calc(344px / 4.667);
  -webkit-box-shadow: -10px -13px 34px -7px hsl(55, 100%, 94%);
  -moz-box-shadow: -10px -13px 34px -7px hsl(55, 100%, 94%);
  box-shadow: -10px -13px 34px -7px hsl(55, 100%, 94%);
  /* border: 1px solid hsl(54, 86%, 69%); */
}

.hero-image-container {
  height: 100%;
  width: 50%;
  object-fit: contain;

  border-radius: 10px;
  position: absolute;
  top: 20%;
  left: 70%;
}

.hero-image {
  border-radius: 10px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.hero-heading {
  font-size: 60px;
  font-weight: 800;
  text-shadow: 0px 0px 10px rgb(202, 221, 34);
}

.hero-p {
  font-size: 20px;
  font-weight: 600;
  color: rgb(243, 255, 176);
}

.hero-span {
  color: rgb(102, 255, 235);
  font-weight: 800;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: rgb(255, 129, 213);
}
